*.[aA][pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[bB][iI][nN] filter=lfs diff=lfs merge=lfs -text
*.[bB][mM][pP] filter=lfs diff=lfs merge=lfs -text
*.[cC][dD][rR] filter=lfs diff=lfs merge=lfs -text
*.[cC][mM][xX] filter=lfs diff=lfs merge=lfs -text
*.[dD][cC][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][iI][bB] filter=lfs diff=lfs merge=lfs -text
*.[dD][iI][cC][oO][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][jJ][vV][uU] filter=lfs diff=lfs merge=lfs -text
*.[dD][lL][Cc] filter=lfs diff=lfs merge=lfs -text
*.[dD][lL][Ll] filter=lfs diff=lfs merge=lfs -text
*.[dD][lL][lL].* filter=lfs diff=lfs merge=lfs -text
*.[dD][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][mM][yY] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][wW][iI][tT][hH][vV][iI][rR][uU][sS] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][xX] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][cC][xX]-* filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][tT] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][tT][mM] filter=lfs diff=lfs merge=lfs -text
*.[dD][oO][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[dD][yY][lL][iI][bB] filter=lfs diff=lfs merge=lfs -text
*.[eE][mM][fF] filter=lfs diff=lfs merge=lfs -text
*.[eE][mM][lL] filter=lfs diff=lfs merge=lfs -text
*.[eE][mM][zZ] filter=lfs diff=lfs merge=lfs -text
*.[eE][oO][tT] filter=lfs diff=lfs merge=lfs -text
*.[eE][pP][sS] filter=lfs diff=lfs merge=lfs -text
*.[eE][pP][uU][bB] filter=lfs diff=lfs merge=lfs -text
*.[eE][xX][eE] filter=lfs diff=lfs merge=lfs -text
*.[fF][oO][tT] filter=lfs diff=lfs merge=lfs -text
*.[fF][oO][nN] filter=lfs diff=lfs merge=lfs -text
*.[iI][cC][cC] filter=lfs diff=lfs merge=lfs -text
*.[jJ][aA][rR] filter=lfs diff=lfs merge=lfs -text
*.[jJ][2][kK] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][2] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][bB][oO][xX] filter=lfs diff=lfs merge=lfs -text
*.[mM][dD][bB] filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][bB][iI] filter=lfs diff=lfs merge=lfs -text
*.[mM][sS][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][hH][tT] filter=lfs diff=lfs merge=lfs -text
*.[mM][hH][tT][mM][lL] filter=lfs diff=lfs merge=lfs -text
*.[nN][lL][pP] filter=lfs diff=lfs merge=lfs -text
*.[nN][uU][mM][bB][eE][rR][sS] filter=lfs diff=lfs merge=lfs -text
*.[nN][uU][pP][kK][gG] filter=lfs diff=lfs merge=lfs -text
*.[oO][dD][gG] filter=lfs diff=lfs merge=lfs -text
*.[oO][dD][pP] filter=lfs diff=lfs merge=lfs -text
*.[oO][dD][sS] filter=lfs diff=lfs merge=lfs -text
*.[oO][dD][tT] filter=lfs diff=lfs merge=lfs -text
*.[oO][dD][tT]-* filter=lfs diff=lfs merge=lfs -text
*.[oO][sS][tT] filter=lfs diff=lfs merge=lfs -text
*.[oO][tT][gG] filter=lfs diff=lfs merge=lfs -text
*.[oO][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[oO][tT][tT] filter=lfs diff=lfs merge=lfs -text
*.[oO][xX][pP][sS] filter=lfs diff=lfs merge=lfs -text
*.[pP][cC][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][pP][tT][xX] filter=lfs diff=lfs merge=lfs -text
*.[pP][sS][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][yY][dD] filter=lfs diff=lfs merge=lfs -text
*.[rR][eE][sS] filter=lfs diff=lfs merge=lfs -text
*.[rR][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[sS][oO] filter=lfs diff=lfs merge=lfs -text
*.[sS][vV][gG] filter=lfs diff=lfs merge=lfs -text
*.[sS][vV][gG][zZ] filter=lfs diff=lfs merge=lfs -text
*.[sS][wW][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][cC] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][eE] filter=lfs diff=lfs merge=lfs -text
*.[tT][tT][fF] filter=lfs diff=lfs merge=lfs -text
*.[vV][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][pP] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][fF] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][zZ] filter=lfs diff=lfs merge=lfs -text
*.[wW][pP][sS] filter=lfs diff=lfs merge=lfs -text
*.[wW][pP][tT] filter=lfs diff=lfs merge=lfs -text
*.[xX][aA][mM][lL][pP][aA][cC][kK] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS][bB] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS][mM] filter=lfs diff=lfs merge=lfs -text
*.[xX][lL][sS][xX] filter=lfs diff=lfs merge=lfs -text
*.[xX][pP][sS] filter=lfs diff=lfs merge=lfs -text
*.[xX][hH][tT] filter=lfs diff=lfs merge=lfs -text
*.[xX][hH][tT][mM][lL] filter=lfs diff=lfs merge=lfs -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text
